*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: darkblue;
    min-height: 100vh;
    background: #F3F5FC;
    background-repeat: no-repeat;
    text-align: center;
}

.header {
    display: flex;
    align-items: start;
}

.logo {
    width: 120px;
    height: 48px;
}



.main {
    display: flex;
    padding: 0;
}


textarea::-webkit-scrollbar{
    display: none;
  }

.main-bloc1 {
    width: 100%;
    padding: 2rem;
}

.main-bloc1 textarea {
    width: 100%;
    height: 300px;
    border: none;
    padding: 2rem 2rem 2rem;
    outline: none;
    font-size: 2rem;
    color: darkblue;
    resize: none;
    border-radius: .5rem;
    background: #F3F5FC;
    font-size: 1.8rem;
}


.text-area::placeholder{
    color: #0A3871;
}

.informacion {
    display: flex;
    gap: 1rem;
}

.informacion p {
    font-size: 1rem;
}

.main-bloc2 {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
}

.img-muneco {
    width: 80%;
    margin-bottom: 2rem;
}



.container-textarea {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: white;
}



h1 {
    font-size: 2.4rem;
    font-weight: bold;
}

p {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}



h6 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    margin-left: 24px;
    margin-bottom: 10px;

}


.buttons {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 2.4rem;
 
    margin-bottom: 2.0rem;
    
}

.btn {
    display: flex;
    gap: 0.8rem;
    width: 100%;
    justify-content: center;
    border-radius: 25px;
    font-size: 0.5em;
    padding: 1rem;
    cursor: pointer;
}

.encrypt {
    background: #0A3871;
    color: #D8DFE8;
}

.decrypt {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}